@{
    ViewData["Title"] = "Mateo Herrera";
}
<h1>@ViewData["Title"]</h1>

<p>Desarrollado por Mateo Herrera, este proyecto consiste en una aplicación web   
    para la gestión de equipos de fútbol de la LigaPro. Permite visualizar, editar
    y organizar información de cada equipo como nombre, partidos jugados, ganados, 
    empatados y perdidos, además de mostrar su logotipo correspondiente. El objetivo 
    principal es facilitar la administración y presentación de estadísticas deportivas
    en una interfaz clara y funcional.</p>
